<h3>All Companies</h3>

<section class = "list">
  <% @companies.each do |company| %>
  <div id="company_<%= company.id %>" class="index_company">
    <%= link_to company.name, company_path(company) %>
    <div class="modify">
      <%= link_to "Edit", edit_company_path(company) %>
      <%= link_to "Delete", company_path(company), method: "delete" %>
    </div>
  </div>
  <% end %>
</section>
