.top-3 {
  display: flex;
  justify-content: center;
  background-color: #baefe8;
  align-items: center;
  flex-wrap: nowrap;
  border: 1px dotted black;
  width: 70%;
  height: 250px;
  padding: 15px;
  margin: 15px;
}

.top-3-company {
   text-align: center;
   border: 1px dotted black;
   background-color: #ceffee;
   padding: 20px;
   margin: 10px;
   width: 27%;
   height: 50%;
   overflow: hidden;
}

.top-3-company:hover {
  transform: scale(1.05, 1.05);
  .dashboard_average { color: black; }
}
.num-jobs-location {
  h4 {margin-top: 0}
  display: block;
  background-color: ivory;
  border: 1px dotted black;
  width: 70%;
  padding: 10px;
  margin: 20px;
  text-align: center;
}

.loi-list {
  display: block;
  background-color: ivory;
  border: 1px dotted black;
  width: 70%;
  padding: 20px;
  margin: 20px;
  text-align: center;
}

.loi-item {
  margin-top: 7px;
  padding-bottom: 2px;
  border-bottom: 1px dotted black;
}
