.top-3 {
  display: flex;
  justify-content: center;
  background-color: #baefe8;
  align-items: center;
  flex-wrap: nowrap;
  border: 1px dotted black;
  width: 70%;
  height: 250px;
  padding: 15px;
  margin: 15px;
}

.top-3-company {
   text-align: center;
   border: 1px dotted black;
   padding: 20px;
   margin: 10px;
   width: 27%;
   height: 50%;
   overflow: hidden;
}

.loi-list {
  display: block;
  background-color: ivory;
  border: 1px dotted black;
  width: 70%;
  height: 150px;
  overflow: scroll;
  padding: 20px;
  margin: 20px;
  text-align: center;
}
