.job-cities {
  display: flex;
  a { margin: 15px; }
}

.index-job {
  width: 150px;
  height: 100px;
  margin: 30px;
  padding: 15px;
  background-color: #afceff;
  font-size: 24px;
  text-align: center;
  border: 1px gray dotted;
  a {text-decoration: none;}
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  .company-name {
    font-size: 16px;
  }
  .job-city {
    font-size: 14px;
    font-style: italic;
  }
}

.index-job:hover {
  transform: scale(1.1, 1.1);
  .company-name {color: black;}
  .job-city {color: black;}
  }

.new-job {
  label {
    display: block;
  }
  input, select{
    margin-bottom: 10px;
  }
  height: 300px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
