<h1>Viewing '<%= @category.title %>' Category</h1>
<%= link_to categories_path do %>
  <h4>To All Categories</h4>
<% end %>

<section class="list">
  <% @jobs.each do |job| %>
   <div class="index-job">
     <div><%= link_to job.title, company_job_path(job.company, job) %></div>
     <div class="job-city"><%= link_to job.city, "/jobs?location=#{job.city}" %></div>
   </div>
  <% end %>
</section>
